<link rel="stylesheet" href="/css/ask_password.css">

<div class="ask_password">
    
    <form action="/auth/verify_user" method="post">
        <div class="email">
            <label for="email">Email Id</label>
            <span><%= locals.user.email %></span>
            <input type="email" name="email" value="<%= locals.user.email %>" hidden>
        </div>

        <div class="password">
            <label for="password">Enter Password</label>
            <input type="password" name="password" placeholder="Enter your password">
        </div>

        <div class="submit-btn">
            <input type="submit" value="Verify">
        </div>
    </form>
</div>