<link rel="stylesheet" href="/css/signUp.css">
    
<section id="signup_page">
    <div class="left">
        <h5>Sign Up</h5>
        
        
        <form action="/auth/create_new" method="post">
            <div class="inputs">
                <input type="text" placeholder="name" name="name">
                <br>
                <input type="email" placeholder="email" name="email">
                <br>
                <input type="password" placeholder="Password" name="password">
                <br>
                <input type="password" placeholder="Confirm password" name="confirm_password">
                
            </div>
            <br>
            <br>
            <!-- <button>Login</button> -->
            <input type="submit" value="Sign up" class="signup-btn">
        </form>

        <span class="social-signup-btn">
            <p>or</p>
            <a href="/auth/google"><i class="fa-brands fa-google"></i>SignUp with google</a>
        </span>

        <span class="login-btn">
            <a href="/auth/login_page">Login?</a>
        </span>
    </div>

    <div class="right">
        <div class="overlay">
            <h1>Node Js Authentication</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quibusdam deserunt! Voluptatem illo non rerum nulla modi tenetur similique soluta assumenda mollitia tempora consequatur, delectus veniam est neque eos laborum molestiae fugiat consectetur laboriosam tempore atque nam vero reprehenderit. Ratione repudiandae magni ab earum nostrum fuga pariatur facilis tempora aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam velit voluptate quaerat, qui quidem inventore sunt nam suscipit temporibus labore quia! Aliquid.</p>
        </div>
    </div>

</section>