<link rel="stylesheet" href="/css/update_password.css">
<div id="change_pass_form_container">
    <h3>Change Password</h3>
    <form method="post" action="/auth/update_password" id="change_pass_form">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" value="<%= user.email %>" class="form-control" id="email" readonly="true">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password">
        </div>
        <div class="mb-3">
            <input type="text" name="accessToken" class="form-control invisible" id="accessToken" value="<%= userWithAT.accessToken%>">
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>